@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');

* {
  box-sizing: border-box;
}

input,
select,
button,
textarea {
  font: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: bisque;
  font-family: 'Ubuntu Mono', monospace;
}

.logo {
  padding: 24px;
  background: palevioletred;
  color: oldlace;
  font-size: 16px;
  font-weight: 900;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  color: oldlace;
  text-decoration: none;
}

.logo .links a {
  cursor: pointer;
  margin-left: 12px;
  position: relative;
}

.logo .redux-panel {
  position: absolute;
  top: 100%;
  right: -12px;
  padding: 8px;
  background: white;
  color: black;
  box-shadow: 0 4px 15px rgba(0, 0, 0, .1);
  width: 200px;
  max-height: 50vh;
  overflow: auto;
  font-size: 12px;
  border-radius: 4px;
  font-weight: 500;
}

.logo .redux-panel ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.logo .redux-panel ul li {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
  border-radius: 4px;
  transition: background .2s;
}

.logo .redux-panel ul li:hover {
  background: oldlace;
}

.logo .redux-panel ul li button {
  border: 0 none;
  border-radius: 4px;
  background: peachpuff;
  cursor: pointer;
  font-size: 10px;
  padding: 4px;
  transition: background .2s, color .2s;
}

.logo .redux-panel ul li button:hover {
  color: oldlace;
  background: palevioletred;
}

.logo img {
  height: 24px;
  width: auto;
}

.app header,
.app main {
  padding: 20px;
}

.app header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 0;
}

.app header .title {
  flex-direction: column;
}

.app h1 {
  font-size: 22px;
}

.app h2 {
  font-size: 19px;
}

.app header .meta {
  font-size: 12px;
}

.app header img {
  width: 70px;
  height: auto;
  border-radius: 4px;
  margin-right: 12px;
}

.app header h1,
.app header p {
  margin: 0;
  padding: 4px 0;
}

.app main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.app main section {
  width: calc(50% - 12px);
}

.app main ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.app main li {
  margin-bottom: 4px;
  width: 100%;
}

.app main li > span,
.app main li > a {
  padding: 12px;
  width: 100%;
  display: inline-flex;
  border-radius: 4px;
  flex-direction: row;
  align-items: center;
  background: oldlace;
}

.app main li > span {
  flex-direction: column;
  align-items: flex-start;
}

.app main li > a {
  transition: background .3s, box-shadow .3s;
  box-shadow: 0 0 0 rgba(0, 0, 0, .1);
  color: black;
}

.app main li > a:hover {
  background: white;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .1);
}

.app main li img,
.app main li .image-fallback {
  width: 30px;
  height: 30px;
  border-radius: 4px;
  margin-right: 8px;
  display: inline-flex;
  background: palevioletred;
}

.app main li .meta {
  color: gray;
  font-size: 12px;
}

.app .loading {
  width: 100%;
  padding: 12px 0;
}

.app .loading.loading-user {
  text-align: center;
  padding: 24px;
}
